.header {
  position: relative;       /* حتى نستطيع التحكم بمكان الزر */
  background-color: #a955da;
  color: #fff;
  padding: 20px;
  text-align: center;       /* يجعل كلمة مهامي في المنتصف */
  border-radius: 150px;
}

.title {
  margin: 0;
  font-size: 24px;
}

.create-btn {
  position: absolute;       /* يخرج الزر من التدفق العادي */
  top: 50%;                 /* يضعه في منتصف الارتفاع */
  right: 20px;              /* أقصى اليمين مع مسافة بسيطة */
  transform: translateY(-50%); /* لضبطه بالضبط في المنتصف عموديًا */
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 18px;
  padding: 10px 20px;
  border-radius: 50px;
  cursor: pointer;
}

.task-table{
 
  background:#fff;
  width:60%;
  margin-top:130px;
  
}

body {
  margin: 0;
  font-family: "Tahoma", sans-serif;
  background-color: #c5a3e6; /* خلفية بنفسجية داكنة */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  
}
.task {
  display:flex;
  background-color: #d1a0ff;
  padding: 4px;
  border-bottom: solid black 1px;
  transition: box-shadow 0.2s;

  display: flex;
  flex-direction: column; /* يجعل المهام تحت بعض */
  align-items: center; /* يوسّطها أفقيًا */
  gap: 20px; 

}




.task:hover {
  box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.843);
  transform: translateY(-2px);
}

.task-card {
  background-color: rgb(253, 252, 253);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-radius: 102px;
  box-shadow: 0 4px 8px rgba(17, 17, 21, 0.2);
  width: 600px;
  


}




.task-actions button {
  border: none;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 10px;
  cursor: pointer;
  font-size: 18px;
  
}

/* #task{
 background-color: rgb(253, 252, 253);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  border-radius: 102px;
  box-shadow: 0 4px 8px rgba(17, 17, 21, 0.2);
  width: 600px;
  box-shadow: 0px 3px 15px rgba(97, 97, 97, 0.843);
  transform: translateY(-2px);

  display:flex;
  background-color: #d2aaf7;
  padding: 4px;
  border-bottom: solid black 1px;
  transition: box-shadow 0.2s;
 */


.edit { background-color: #3f51b5; color: white; }   /* أزرق */
.done { background-color: #078409; color: white; }   /* أخضر */
.delete { background-color: #b71c1c; color: white; } /* أحمر غامق */

.task-info {
  text-align: right;
}

.task-info h3 {
  margin: 0;
  color: #de8bf1;
}

.task-info span {
  margin: 5px 0 0;
  color: #d49bef;
  font-size: 14px;
}


.container {
  position: absolute;
  top: 10%; /* بدل 50% لتصبح أقرب للسقف */
  left: 50%;
  transform: translate(-50%, 0);
  width: 700px;

}